<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.github.rhinolance.sqliteplugin"
    version="1.0.0">

    <name>SQLitePlugin</name>

    <asset src="www/SQLitePlugin.js" target="./" />
    
		<!-- ios -->
    <platform name="ios">
        <plugins-plist key="SQLitePlugin"
            string="SQLitePlugin" />

        <header-file src="SQLitePlugin.h" />
        
        <source-file src="SQLitePlugin.m" />
        
        <!-- framework for testing (not actual dependency of ChildBrowser -->
        <!--
        <framework src="libsqlite3.dylib" />
        <framework src="social.framework" weak="true" />
        -->
    </platform>
</plugin>